<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>User ID: {{accountId}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>User Name: {{username}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>自己紹介: {{introduction}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-list>
        <ion-list-header>{{username}}の投稿一覧</ion-list-header>
        <reservation-card [reservation]='reservation' *ngFor="let reservation of reservations"></reservation-card>
      </ion-list>
    </ion-item>

  </ion-list>

  <!-- <div *ngIf="username" class="ion-padding-top ion-text-center">
    <img src="https://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
    <h2>Display Name: {{username}}</h2>

    <ion-list inset>
      <ion-item (click)="updatePicture()">Update Picture</ion-item>
      <ion-item (click)="changeUsername()">Change Username</ion-item>
      <ion-item (click)="changePassword()">Change Password</ion-item>
      <ion-item (click)="support()">Support</ion-item>
      <ion-item (click)="logout()">Logout</ion-item>
    </ion-list>
  </div> -->
</ion-content>
