ion-title {
    height: 50px;
    font-size: 20px;
    text-align: center;
    background-color:#f0ffff
}


ion-item{
    background-color: #ffffe0;
}

ion-list.user_info {
    ion-label{
        width:600px;
        background-color: #ffffe0;
    }

    ion-img{
        width:600px;
        background-color: #ffffe0; 
    }

    background-color: #ffffe0;
    
}

ion-list.post{
    background-color: #ffffe0;  
}


// body {
//     background-color: #ffffe0;
// }




