<ion-header>
  <ion-toolbar color="header" text-center>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>マイページ
        <!-- <p class="header_logo">
            <img src="../../../assets/img/car_sharing.png"  height=40px; style="float:right" >
        </p> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="user_info">
    <ion-item (click)="goToEditPage()">
      <!-- <ion-label color="primary">アカウント情報を編集する</ion-label> --> 
      <ion-button size="small"> アカウント編集 </ion-button>
    </ion-item>
    <!-- <ion-item>
      <ion-label>image URL: {{user.imageURL}}</ion-label>
    </ion-item> -->
    <ion-avatar > 
      <ion-img [src]="user.imageURL" class="user_icon"></ion-img>
    </ion-avatar>
    <ion-item>
      <ion-label >Display Name: {{user.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>自己紹介: {{user.introduction}}</ion-label>
    </ion-item>
  </ion-list>

  


  <!-- 自分の投稿一覧と自分が乗る予定の投稿一覧はタブとかで変更できるようにしたい -->

  <!-- <div class="tabs">
    <input id="tab-1" type="radio" name="tab-radio" checked>
    <label class="tab-label" for="tab-1">自分の投稿一覧</label>
    <input id="tab-2" type="radio" name="tab-radio">
    <label class="tab-label" for="tab-2">相乗り予定の投稿一覧</label>
    <div class="tab-content tab-1-content">
      <reservation-card [reservation]='reservation' *ngFor="let reservation of reservations"></reservation-card>
    </div>
    <div class="tab-content tab-2-content">
      <reservation-card [reservation]='reservation' *ngFor="let reservation of rideReservations"></reservation-card>
    </div>
  </div> -->


  <div class="tabs">
    <input id="my_reserve" type="radio" name="tab_item" checked>
    <input id="other_reserve" type="radio" name="tab_item">
    <div class="tab_area">
        <label class="tab_item" for="my_reserve">自分の投稿一覧</label>
        <label class="tab_item" for="other_reserve">相乗り予定の投稿一覧</label>
    </div>
    
    <div class="tab_content" id="my_content">
      <p class="tab_content_description"><reservation-card [reservation]='reservation' *ngFor="let reservation of reservations"></reservation-card></p>
    </div>
    <div class="tab_content" id="other_content">
      <p class="tab_content_description"><reservation-card [reservation]='reservation' *ngFor="let reservation of rideReservations"></reservation-card></p>
    </div>
  </div>


  <!-- <ion-item >
    <ion-list class="post">
      <ion-list-header>自分の投稿一覧</ion-list-header>
      <reservation-card [reservation]='reservation' *ngFor="let reservation of reservations"></reservation-card>
    </ion-list>
  </ion-item>

  <ion-item>
    <ion-list>
      <ion-list-header>自分が乗る予定の投稿一覧</ion-list-header>
      <reservation-card [reservation]='reservation' *ngFor="let reservation of rideReservations"></reservation-card>
    </ion-list>
  </ion-item> -->

</ion-content>
