// ion-title {
//     height: 50px;
//     font-size: 20px;
//     text-align: center;
//     background-color:#f0ffff
// }


// ion-item{
//     background-color: #ffffe0;
// }

// ion-list.user_info {
//     ion-label{
//         width:600px;
//         background-color: #ffffe0;
//     }

//     ion-img{
//         width:600px;
//         background-color: #ffffe0; 
//     }

//     background-color: #ffffe0;
    
// }

// ion-list.post{
//     background-color: #ffffe0;  
// }
ion-title{
    font-weight: bold;
}

p.header_logo{
    position: absolute;
    top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
   
}

ion-img.user_icon{
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
    //width: 80px;
}

ion-button{
    position: absolute; 
    right: 10px;
}






