<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>マイページ</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="goToEditPage()">
      <ion-label color="primary">アカウント情報を編集する</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>image URL: {{imageURL}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Display Name: {{displayName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>uid: {{uid}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>自己紹介: {{introduction}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-list>
        <ion-list-header>自分の投稿一覧</ion-list-header>
        <reservation-card [reservation]='reservation' *ngFor="let reservation of reservations"></reservation-card>
      </ion-list>
    </ion-item>

  </ion-list>

</ion-content>
