<ion-header>
  <ion-toolbar color="header" text-center>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    
    <ion-title>
      <ion-buttons style="display: inline-block;">
        <ion-button (click)="beforeDay(); getReservationsAndFilterWithLoading();">
          <!-- <ion-icon slot='icon-only' name="arrow-dropleft"></ion-icon> -->
          <img src="../../../assets/img/left_arrow.png" style="height: 24px; width: 40px;">
        </ion-button>
      </ion-buttons>
      
      <!-- <ion-icon style="display: inline-block;" (click)="beforeDay(); getReservationsAndFilterWithLoading();" name="arrow-dropleft"></ion-icon> -->
      <!-- {{filter.departure_time_start | date: 'M月d日'}} -->
      <div style="display: inline-block; vertical-align: -webkit-baseline-middle;">{{header_date_str}}</div>
      <!-- <div style="display: inline-block;">{{header_date_str}}</div> -->
      <!-- <ion-icon style="display: inline-block;" (click)="nextDay(); getReservationsAndFilterWithLoading();" name="arrow-dropright"></ion-icon> -->
      <!-- <ion-icon style="display: inline-block;" (click)="beforeDay(); getReservationsAndFilterWithLoading();" name="arrow-dropleft"></ion-icon> -->
      <!-- <ion-text style="font-size: 15px">{{filter.departure_time_start | date: 'y年M月d日'}}</ion-text> -->
      <!-- <ion-icon style="display: inline-block;" (click)="nextDay(); getReservationsAndFilterWithLoading();" name="arrow-dropright"></ion-icon> -->
      <!-- <p class="header_logo">
          <img src="../../../assets/img/car_sharing.png"  height=40px; style="float:right" >
      </p> -->

      <ion-buttons style="display: inline-block;">
        <ion-button (click)="nextDay(); getReservationsAndFilterWithLoading();">
          <!-- <ion-icon slot='icon-only' name="arrow-dropright"></ion-icon> -->
          <img src="../../../assets/img/right_arrow.png" style="height: 24px; width: 40px;">
        </ion-button>
      </ion-buttons>
  
    </ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="createReservationFilterModal()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-searchbar placeholder="Search"></ion-searchbar>
  </ion-toolbar> -->
  
</ion-header>

<ion-content class="background">
  <!--
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear aaway, once in awhile,
      and climb a mountain or spen a week in the woods. Whash your spirit clean.
    </ion-card-content>
  </ion-card>
  -->
  <!-- 
  <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Item Avatar</ion-label>
  </ion-item>
  -->
  <!--
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      <h3>Lorem ipsum</h3>
      <p>dolor sit amet</p>
      <p>consectetur adispiscing elit. Duis ut urna neque.</p>
    </ion-label>
  </ion-item>
  -->
  <!-- <ion-card>
    <ion-card-content>
      <ion-chip>
        <ion-avatar item-left>
          <img src="../../../assets/img/speakers/bear.jpg">
        </ion-avatar>
         <ion-label>user name</ion-label>
      </ion-chip>
      <p>出発地: 会津大学    目的地: 会津若松駅</p>
      <p>出発時刻: 18:00    現在予約人数: 1人</p>
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-card *ngFor="let reservation of reservations">
    <ion-card-content>
      <ion-chip (click)="goToAccountDetail(reservation.owner.id)">
        <ion-avatar item-left>
          <img src="../../../assets/img/speakers/bear.jpg">
        </ion-avatar>
        <ion-label>owner.name</ion-label>
      </ion-chip>
      <p>出発地: {{reservation.departure_name}}    目的地: {{reservation.destination_name}}</p>
      <p>出発時刻: {{reservation.departure_time}}    現在予約人数/最大人数: {{reservation.passenger_count}}人/{{reservation.max_passenger_count}}人</p>
      <ion-button (click)="goToReservationDetail(reservation.uid)">詳細</ion-button>
    </ion-card-content>
  </ion-card> -->
  <!-- <body>
    </body> -->
  
  
  <!-- <ion-button (click)="PlusOneDay()">
    <ion-icon name="arrow-dropleft-circle"></ion-icon>
  </ion-button> -->
  <!-- <ion-label position="floating">日付</ion-label> -->
  <!-- <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD"
  [ngModel]="displaydate_start | date: 'y-MM-dd'" (ngModelChange)="displaydate_start = toDate($event); DisplayReservations()" name="displaydate_start"></ion-datetime> -->
  <!-- <input type="date" [ngModel]="display_date | date: 'y-MM-dd'" 
  (ngModelChange)="display_date = toDate($event); DisplayReservations()" name="display_date"> -->
  <!-- <ion-button expand="block" color="primary" type="button" (click)="onSearch()">検索</ion-button> -->


  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="reservations.length !== 0; else nonReservations">
    <!-- <ng-container *ngFor="let reservation of reservations; trackBy: trackFn"> -->
    <ng-container *ngFor="let reservation of reservations;">
      <reservation-card [reservation]='reservation'></reservation-card>
    </ng-container>
  </ng-container>

  <ng-template #nonReservations>
    <div class="none_reservations">
      <p>投稿がありません</p>
      <!-- <p>
        <img src="../../../assets/img/sharing.png" style="height: 3em; width: 3em; display: inline-block; vertical-align: middle;">
        を押して投稿してみましょう
      </p> -->
    </div>
  </ng-template>

  <!-- <ion-list ion-no-margin *ngFor="let reservation of reservations">
    <reservation [reservation]="reservation"></reservation>
  </ion-list>     -->

  <!-- <ion-fab *ngIf='isLogin' vertical="bottom" horizontal="end" slot="fixed" >
    <p (click)="goToPost()" class="sharing_button"><img src="../../../assets/img/sharing.png"></p>
  </ion-fab> -->
    

</ion-content>
