body {
    background-color: #ffffe0;
}

ion-title {
    height: 50px;
    font-size: 20px;
    text-align: center;
    background-color:#f0ffff
}

// ion-menu-button{
//     background-color:#ffffe0
// }

ion-fab-button.fab_button img {
    height: 150px;
    width: 150px;  
}

ion-button.sharing_button img {
    height: 100px;
    width: 100px;  
}






