// body {
//     background-color: #ffffe0;
// }

// ion-title {
//     font-weight:bold;
//     height: 50px;
//     font-size: 20px;
//     text-align: center;
//     background-color:#f0ffff
// }

// ion-menu-button{
//     background-color:#ffffe0
// }

// .background{
//     background-image: url('../../../assets/img/reservations-background.jpg');
//     background-repeat: no-repeat;
//     background-size: cover;
// }

ion-content.background{
    --background: #fff url('../../../assets/img/reservations-background_white_gauss.jpg') no-repeat center center / cover;
}

ion-fab img {
    height: 100px;
    width: 110px;
}

// ion-title{
//     font-weight:bold;
// }

.none_reservations{
    position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // --background: transparent !important;
    // background-color: transparent !important;
    // --background: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    color: #666666;
    // background-color: rgba(255, 255, 255, 0.8);
    background-color: white;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
    text-align:center;
    padding: 8px;
    // height: 8rem;
    width: 80%;
    max-width: 300px;
    // margin: 16px;
    // margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    border-radius: 5px;
    // vertical-align: middle;
    // ion-labe{
    //     text-overflow:clip;
    // }
}

// ion-label.transparent{
//     --ion-background-color:#fff;
// }

