// body {
//     background-color: #ffffe0;
// }

// ion-title {
//     font-weight:bold;
//     height: 50px;
//     font-size: 20px;
//     text-align: center;
//     background-color:#f0ffff
// }

// ion-menu-button{
//     background-color:#ffffe0
// }


ion-fab img {
    height: 100px;
    width: 110px;  
}

ion-title{
    font-weight:bold;
}

p.header_logo{
    position: absolute;
    top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
   // height: 30px;  
}







