ion-chip {
    height: 60px;
    width: 300px; 
    background-color: #fffafa;
}

ion-img{
    height:40px;
    width:40px;
}
ion-label{
    font-weight:bold;
    color: blue;
    margin-left: 30px;
    margin-top: 10px;
}
