<ion-header>
  <ion-toolbar color="header" text-center>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title style="float: center">
      投稿の詳細
      <p class="header_logo">
        <img src="../../../assets/img/car_sharing.png"  height=40px; style="float:right" >
      </p>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="is_my_reservation" (click)="goToEditPage()">
        <ion-button size="small"> 投稿編集 </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Reservation ID: {{reservationId}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>owner name: {{owner_name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>募集状況: {{reservation.condition}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>出発地: {{departure_name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>目的地: {{reservation.destination_name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>出発時刻: {{departure_time_date | date:'yyyy-MM-dd HH:mm'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>乗車予定人数/最大乗車人数: {{reservation.passenger_count}}人/{{reservation.max_passenger_count}}人</ion-label>
    </ion-item>

    <ion-list>
      <ion-list-header>
        乗車予定者：
      </ion-list-header>
      <ion-item *ngFor="let reservationUser of reservationUsers">
        <user-chip [user_ref]="reservationUser.user"></user-chip>
        <p>{{reservationUser.passenger_count}}人</p>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        メッセージ
      </ion-list-header>
      <ion-item *ngFor="let message of messages">
        <user-chip [user_ref]="message.user"></user-chip>
        <ion-label>{{message.message}}</ion-label>
        <ion-label>{{message.created_at | timestamp2string}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="コメント" [(ngModel)]="message" name="message"></ion-input>
        <ion-buttons slot="end">
          <ion-button slot="end" color="primary" (click)="sendMessage()">
            Send
            <ion-icon name="send"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

    </ion-list>
  </ion-list>

</ion-content>
