<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>投稿の詳細</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-label>Reservation ID: {{reservationId}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>owner name: user name</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>出発地: {{departure_name}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-button (click)="getReservationUsers()">reservations users</ion-button>
  </ion-item>

</ion-list>

</ion-content>
