// ion-title{
//     font-weight:bold;
// }

p.header_logo{
    position: absolute;
    top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
   // height: 30px;  
}

ion-button{
    position: absolute; 
    right: 10px;
}

ion-icon {
    font-size: 25px;
    color: primary;
}

ion-text{
    font-size: 12px;
    vertical-align: middle;
}