<ion-header>
  <ion-toolbar color="header" text-center>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title style="float: center">
      投稿の詳細
    </ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="goToEditPage()">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div style="display: block;"> -->
    <!-- <p float-right *ngIf="is_my_reservation" (click)="goToEditPage()">
      <ion-icon name="create" color="primary" style="height:15px;width:15px;"></ion-icon>
      投稿の編集
    </p> -->
    <reservation-card [reservation]="reservation"></reservation-card>
  <!-- </div> -->

  <ion-list>
    <!-- <user-chip [user_ref]="reservation.owner"></user-chip> ここに大戦争-->  
    
    <!-- <ion-item>
      <ion-label>Reservation ID: {{reservationId}}</ion-label>
    </ion-item> -->
    <ion-list>
      <ion-text float-right style="padding-right:4%">投稿時間: {{reservation.created_at | timestamp2string}}</ion-text>
      <ion-text float-right style="padding-right:4%">最終更新: {{reservation.updated_at | timestamp2string}}</ion-text>
    </ion-list>
    
    <!-- <ion-item>
      <ion-label>投稿者: {{owner_name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>募集状況: {{reservation.condition}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>出発地: {{departure_name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>目的地: {{reservation.destination_name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>出発時刻: {{departure_time_date | date:'yyyy-MM-dd HH:mm'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>乗車予定人数/最大乗車人数: {{reservation.passenger_count}}人/{{reservation.max_passenger_count}}人</ion-label>
    </ion-item> -->

    <ion-list>
      <ion-list-header>
        <ion-text>
          <p>
            <ion-icon style="vertical-align: middle;" name="contact"></ion-icon>
            乗車予定のユーザー
          </p>
        </ion-text>
      </ion-list-header>
      <ion-item *ngFor="let reservationUser of reservationUsers">
        <user-chip [user_ref]="reservationUser.user"></user-chip>
        <p>{{reservationUser.passenger_count}}人</p>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <p><ion-icon  style="vertical-align: middle;" name="chatboxes"></ion-icon>
        メッセージ</p>
      </ion-list-header>
      <ion-item *ngFor="let message of messages">
        <div style="display: block;">
          <user-chip [user_ref]="message.user"></user-chip>
          <ion-label style="padding-left: 16px;">
          <p style="font-size: 9px;">{{message.created_at | timestamp2string}}</p>
          <h2 style="font-size: 15px; white-space: pre-wrap;">{{message.message}}</h2>
          </ion-label>
        </div>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="コメント" [(ngModel)]="message" name="message"></ion-input>
        <ion-buttons slot="end">
          <ion-button slot="end" color="primary" (click)="sendMessage()">
            Send
            <ion-icon name="send"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

    </ion-list>
  </ion-list>

</ion-content>
