p.norimasu_button img {
    height: 70px;
    width: 70px; 
 }

.graph_size{
  display: block;
  // max-width: 100%;
  width: 350px;
  height: 350px;
  object-fit: cover;
} 

ion-card-content{
  width: 100%;
  padding-right: 10px;
  background-color: #ffffe0;
}

ion-icon {
    font-size: 20px;
}

.place_icon img{
  height: 30px;
  width: 25px;
}

.sidebyside {
  display: flex;
}

.padding{
  padding-left: 5%;
  padding-top: 1%;
}

.padding2{
  padding-left: 8%;
}

.place_text{
  padding-top: 4px;
  padding-left: 10px;
  
}

.route{
  padding-left: 10px;
  padding-right: 10px;
}

// .norimasu_button_field{
//   padding-right: 10px;
//   margin-top: 10px;
// }




