p.norimasu_button img {
    height: 70px;
    width: 70px; 
 }
//  ion-img{
//   height: 40px;
//   width: 40px; 
//}
.table{
  display: table;
}

.left-side{
  display: table-cell;
  // padding-right:1%;
}
.right-side{
  align-items: flex-start;
  //display: table-cell;
  //margin-right: 1%;
}
.lr-edge{
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}
.sidebyside {
  display: flex;
}



.graph_size{
  display: block;
  // max-width: 100%;
  width: 350px;
  height: 350px;
  object-fit: cover;
} 

.norimasu_padding{
  padding-right: 1%;
}

ion-card-content{
  width: 100%;
  padding-right: 10px;
  background-color: #ffffe0;
}

ion-icon {
    font-size: 20px;
}

.place_icon img{
  height: 30px;
  width: 25px;
}

.padding{
  padding-left: 5%;
  padding-top: 1%;
}

.padding2{
  padding-left: 8%;
}

.place_text{
  padding-top: 4px;
  padding-left: 10px;
  
}

.route{
  padding-left: 10px;
  padding-right: 10px;
}

// .norimasu_button_field{
//   padding-right: 10px;
//   margin-top: 10px;
// }




