//  ion-img{
//   height: 40px;
//   width: 40px; 
//}
.table{
  display: table;
}

.left-side{
  display: table-cell;
  // padding-right:1%;
}
.right-side{
  align-items: flex-start;
  //display: table-cell;
  //margin-right: 1%;
}
.lr-edge{
  display: flex;
  justify-content: space-between;
  // align-content: flex-start;
}

.lr-around{
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
}


.graph_size{
  display: block;
  // max-width: 100%;
  width: 350px;
  height: 350px;
  object-fit: cover;
} 

.norimasu_padding{
  padding-right: 1%;
}

ion-card{
  background-color: rgba(255, 255, 255, 1)
}

ion-card-content{
  width: 100%;
  padding-right: 10px;
  // background-color: #ffffe0;
}

// ion-card{
//   background-color: #ffffe0;
//   // background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
//   //background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
//   // background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
//   // background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
//   //background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
//   //background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
// }
ion-icon {
    font-size: 30px;
}

.taxi_move_logo img{
  height: 30px;
  width: auto;
}

.place_icon img{
  height: 30px;
  width: 25px;
}

.padding{
  padding-left: 5%;
  padding-top: 1%;
}

.padding2{
  padding-left: 8%;
}

.place_text{
  padding-top: 6px;
  padding-left: 5px;
  font-size: 15px;
  word-break: break-all;
}

.route{
  padding-left: 10px;
  padding-right: 10px;
}

// .norimasu_button_field{
//   padding-right: 10px;
//   margin-top: 10px;
// }


// .balloon1-left {
//   position: relative;
//   margin: 2em 0 2em 40px;
//   padding: 15px;
//   background: #fff0c6;
//   border-radius: 30px;
// }

// .balloon1-left:before {
//   content: "";
//   position: absolute;
//   left: -38px;
//   width: 13px;
//   height: 12px;
//   bottom: 0;
//   background: #fff0c6;
//   border-radius: 50%;
// }
// .balloon1-left:after {
//   content: "";
//   position: absolute;
//   left: -24px;
//   width: 20px;
//   height: 18px;
//   bottom: 3px;
//   background: #fff0c6;
//   border-radius: 50%;
// }
.balloon1-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  //border-radius: 3px;
}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

// ion-img{
//   width:30px;
//   height:30px;
//   align-items: center;
// }

.norimasu_outfilter{
  width: 70px;
  height: 70px;
  // background: grey;
  padding: 0;
  img {
    // background: red;
    width: 100%;
    height: 100%;
  } 
}

img.description_button:hover{
 
	/* 透明度を上げることで、画像の色を薄く見せる。*/
	opacity:0.5;
 
	/* リンクをホバーしたときのカーソルにする。*/
	cursor: pointer;
}

img.description_button:active{ 
  position: relative;
  top: 3px;
}
.detail_and_norimasu{
  padding: 8px;
  // background-color: grey;
}

.time-padding{
  padding-left: 3%;
  padding-bottom: 3%;
}




.newline_text{
  white-space: pre-wrap;
  font-size: 15px;
  color: black;
  // display: -webkit-box;
  // -webkit-box-orient: vertical;
  // word-break: break-all;
}


.wrapper {
  margin: 5% auto;
  text-align: center;
  transform-style: perserve-3d;
  //perspecive: 800px;
}
a {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
}
}


/* fancy Button */
.fancy-button {
  display: inline-block;
  margin: 30px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  
  &:before {
      content: '';
      display: inline-block;
      height: 40px;
      position: absolute;
      bottom: -5px;
      left: 30px;
      right: 30px;
      z-index: -1;
      border-radius: 30em;
      filter: blur(20px) brightness(0.95);
      transform-style: preserve-3d;
      transition: all 0.3s ease-out;
  }
  i {
      margin-top: -1px;
      margin-right: 20px;
      font-size: 1.265em;
      vertical-align: middle;
  }
  span {
      display: inline-block;
      padding: 18px 60px;
      border-radius: 50em;
      position: relative;
      z-index: 2;
      will-change: transform, filter;
      transform-style: preserve-3d;
      transition: all 0.3s ease-out;
  }
  &:focus,
  &:active {
      color: #ffffff;
  }
  &:hover {
      color: #ffffff;
      
      span {
          filter: brightness(1.05) contrast(1.05);
          transform: scale(0.95);
      }
      &:before {
          bottom: 0;
          filter: blur(10px) brightness(0.95);
      }
  }
  &.pop-onhover {
      
      &:before {
          opacity: 0;
          bottom: 10px;
      }
      &:hover {
          
          &:before {
              bottom: -7px;
              opacity: 1;
              filter: blur(20px);
          }
          span {
              transform: scale(1.04);
          }
          &:active {
              
              span {
                  filter: brightness(1) contrast(1);
                  transform: scale(1);
                  transition: all 0.15s ease-out;
              }
              &:before {
                  bottom: 0;
                  filter: blur(10px) brightness(0.95);
                  transition: all 0.2s ease-out;
              }
          }
      }
  }
}


@mixin gradientBg($startColor, $endColor) {
  background: $startColor;
  background: -moz-linear-gradient(left,  $startColor 0%, $endColor 80%,$endColor 100%);
  background: -webkit-linear-gradient(left,  $startColor 0%, $endColor 80%,$endColor 100%);
  background: linear-gradient(to right,  $startColor 0%, $endColor 80%,$endColor 100%);
}

.bg-gradient1 span,
.bg-gradient1:before {
    @include gradientBg(#52A0FD, #00e2fa);
}
.bg-gradient2 span,
.bg-gradient2:before {
    @include gradientBg(#44ea76, #39fad7);
}
.bg-gradient3 span,
.bg-gradient3:before {
    @include gradientBg(#fa6c9f, #ffe140);
}