<ion-card>
  <ion-card-content>
  <ion-row>
    <ion-col>
    <ion-img class="graph_size" [src]="user.imageURL"></ion-img>
    </ion-col>
  <!-- <ion-card-content> -->
    <!-- <ion-chip (click)="goToAccountDetail(reservation.owner.id)">
      <ion-avatar item-left>
        <ion-img src="../../../assets/img/speakers/bear.jpg"></ion-img>
      </ion-avatar>
      <ion-label>{{user.name}}</ion-label>
    </ion-chip> -->
    <ion-col>
    <user-chip [user_ref]="reservation.owner"></user-chip>
    <!-- <div class="ion-text-right">{{reservation.passenger_count}}人/{{reservation.max_passenger_count}}人</div> -->
    
    
    <ion-text color="danger" class="ion-float-right">
      <h1>{{reservation.max_passenger_count}}</h1>
    </ion-text>  
    <ion-text class="ion-float-right">
      <h3>{{reservation.passenger_count}}/</h3>
    </ion-text>

    <ion-text class="ion-float-right" color="yellow">
      <h6>乗車予定人数:  </h6>
    </ion-text>
      
       
    
      <!-- <ion-row> -->
        <!-- <ion-col class="ion-float-right"> -->
          <div>
            <!-- <p><ion-icon color="danger" name="pin"></ion-icon>{{reservation.departure_name}}-----<ion-icon large name="logo-model-s"></ion-icon>-----
              <ion-icon color="danger" name="pin"></ion-icon>{{reservation.destination_name}}</p> -->
            <div class="padding">
            <div class="sidebyside">
            <div class="place_icon"><img src="../../../assets/img/place_start.png" ></div>
            <div class="place_text">{{reservation.departure_name}}</div>
            </div>
            </div>
            
            <div class="padding2">
            <p>⇩<ion-icon large name="logo-model-s"></ion-icon>⇩</p>
            </div>
            
            <div class="padding">
            <div class="sidebyside">
            <div class="place_icon"><img src="../../../assets/img/place_goal.png"></div>
            <div class="place_text">{{reservation.destination_name}}</div>
            </div>
            </div>
            
            <div class="padding">
            出発時刻: {{reservation.departure_time | timestamp2string}}<br>
            <ion-label *ngIf="errors?.alreadyDeparted" color="danger">すでに出発予定時刻を過ぎた投稿です!</ion-label><br>
            コメント: {{reservation.comment}}<br>
            <ion-button size="small" class="discription_button" (click)="goToReservationDetail(reservation.uid)">詳細</ion-button>
            </div>
            <!-- <div class="norimasu_button_field">  -->
            
            <div *ngIf="reservation?.passenger_count === reservation?.max_passenger_count; else conditionIsNotFull">
                <!-- <p float-right class="norimasu_button" color="ion-color-light-tint"> -->
                <p float-right class="norimasu_button" color="ion-color-light-tint">
                  <img src="../../../assets/img/full.png">
                </p>

                
            </div>
  
            <ng-template #conditionIsNotFull>
              <div *ngIf="reservation?.condition === '募集終了'; else conditionIsRecruiting">
                  <p float-right class="norimasu_button" color="ion-color-light-tint">
                      <img src="../../../assets/img/reserve_finish.png">
                  </p>
              </div>
            </ng-template>
            
            <ng-template #conditionIsRecruiting>
              <!-- <p float-right class="norimasu_button" (click)="displayNorimasuAlert()" color="ion-color-light-tint"> -->
              <p float-right class="norimasu_button" (click)="displayNorimasuAlert()" color="ion-color-light-tint">
                <img src="../../../assets/img/norimasu.png">
              </p>
              <!-- <button type="submit"><img src="../../../assets/img/norimasu.png"></button> -->
            </ng-template>
            </div>
          <!-- </div> -->
  
        </ion-col>
        </ion-row>
      </ion-card-content>
</ion-card>
