
ion-content{
  background: url(../../../assets/img/taxi_logo.png) no-repeat center center fixed;
  background-size: cover;
}

ion-title {
  height: 50px;
  font-size: 20px;
  text-align: center;
  background-color:#f0ffff
}

.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

