
ion-content{
  //background: url(../../../assets/img/taxi_logo.png) no-repeat center center fixed;
  background-size: cover;
  background: #fffacd
  
}

// ion-label{
//   background: #fffacd
// }

// p.header_logo{
//   position: absolute;
//   top: 0;
//    left: 0;
//    right: 0;
//    bottom: 0;
//    margin: auto;
//  // height: 30px;  
// }

ion-label{
  padding-bottom: 10px
}
p.taxi_img {
  max-width: 50%;
  margin: 0 auto;
  //text-align: center
}
p.taxi_img{
  text-align: center
}





// ion-title {
//   height: 50px;
//   font-size: 20px;
//   text-align: center;
//   //background-color:#f0ffff
// }

// .login-logo {
//   padding: 20px 0;
//   min-height: 200px;
//   text-align: center;
// }

// .login-logo img {
//   max-width: 150px;
// }

// .list {
//   margin-bottom: 0;
// }

