<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->

    <ion-title>乗り合い情報の投稿</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="floating">出発地</ion-label>
        <ion-input type="text" [(ngModel)]="data.departure_name" name="departure_name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">目的地</ion-label>
        <ion-input type="text" [(ngModel)]="data.destination_name" name="destination_name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">出発時刻</ion-label>
        <!-- <ion-input type="text" [(ngModel)]="data.departure_time" name="departure_time" required></ion-input> -->
        <ion-datetime displayFormat="YYYY-MM-DD HH:mm" pickerFormat="YYYY-MM-DD HH:mm" [(ngModel)]="data.departure_time"
          name="departure_time" (ngModelChange)="on_date_changed()" [min]="min_date" [max]="max_date"></ion-datetime>
      </ion-item>
      <p>最大乗車人数</p>
      <ion-item>
        <img src="../../../assets/img/minus.png" style="height:40px; width:40px;"(click)="on_click_max_passenger(-1)">
        <h3>{{data.max_passenger_count}}</h3>
        <img src="../../../assets/img/plus.png" style="height:40px; width:40px;" (click)="on_click_max_passenger(1)">
      </ion-item>
      <p>現在乗車人数</p>
      <ion-item>
        <img src="../../../assets/img/minus.png" style="height:40px; width:40px;"(click)="on_click_passenger(-1)">
        <h3>{{data.passenger_count}}</h3>
        <img src="../../../assets/img/plus.png" style="height:40px; width:40px;"(click)="on_click_passenger(1)">
      </ion-item>
      <ion-item>
        <ion-label position="floating" >コメント</ion-label>
        <ion-input type="text" [(ngModel)]="data.comment" name="comment" maxlength="30"></ion-input>
      </ion-item>
    </ion-list>
    <p>
      <ion-button expand="block" color="primary" type="button" (click)="onPost()">投稿</ion-button>
    </p>
  </form>
</ion-content>