<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>乗り合い情報の投稿</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="floating">出発地</ion-label>
        <ion-input type="text" [(ngModel)]="data.departure_name" name="departure_name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">目的地</ion-label>
        <ion-input type="text" [(ngModel)]="data.destination_name" name="destination_name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">出発時刻</ion-label>
        <!-- <ion-input type="text" [(ngModel)]="data.departure_time" name="departure_time" required></ion-input> -->
        <ion-datetime displayFormat="YYYY-MM-DD HH:mm" pickerFormat="YYYY-MM-DD HH:mm" [(ngModel)]="data.departure_time" name="departure_time"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">最大乗車人数</ion-label>
        <ion-input type="number" value="4" min="1" [(ngModel)]="data.max_passenger_count" name="max_passenger_count" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">現在乗車人数</ion-label>
        <ion-input type="number" value="1" min="1" max="{{data.max_passenger_count}}" [(ngModel)]="data.passenger_count" name="passenger_count" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">コメント</ion-label>
        <ion-input type="text" [(ngModel)]="data.comment" name="comment"></ion-input>
      </ion-item>
    </ion-list>
    <p>
      <ion-button expand="block" color="primary" type="button" (click)="onPost()">投稿</ion-button>
    </p>
  </form>
</ion-content>
