<ion-header>
  <ion-toolbar color="header" text-center>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title style="float: center">
      タクシー予約
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="vertical-align: middle;">
  <!-- <img src="../../../assets/img/akabeko.jpg" > -->
    <ion-card>
      <img src="../../../assets/img/akabeko.jpg" />
      <ion-card-header>
        <ion-card-subtitle>タクシー予約を可能に！！</ion-card-subtitle>
        <ion-card-title>ただいま準備中</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        ただいま準備中
      </ion-card-content>
    </ion-card>  
</ion-content>
