<ion-header>
  <ion-toolbar color="header" text-center>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title style="float: center">
      タクシー予約
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  class="background">
    <div class="demo_stage">
      <div class="demo_wrap" data-order="left">
      <span class="demo_item anime"></span>
      </div>
    </div>
    <div style="padding-bottom: 50px"></div>
    <ion-card-header>
      <!-- <ion-card-subtitle style="text-align: center;"></ion-card-subtitle> -->
      <ion-card-title style="text-align: center;">タクシー予約機能を準備中</ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: center;">
      ただいま準備中
    </ion-card-content>
  </ion-card>  
  
</ion-content>
