<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>アカウント情報の編集</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-item>
      <ion-label position="floating">image URL</ion-label>
      <ion-input type="text" [(ngModel)]="user.imageURL" name="imageURL" required></ion-input>
    </ion-item> -->

    <div class="circle_icon">
      <img [src]="imageURL">
    </div>

    <ion-item>
      <ion-label position="floating">ユーザー名</ion-label>
      <ion-input type="text" [(ngModel)]="user.name" name="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">自己紹介</ion-label>
      <ion-input type="text" [(ngModel)]="user.introduction" name="introduction" required></ion-input>  
    </ion-item>
  </ion-list>
  <!-- <label for="js-import-file__form">読み込むファイル</label>
  <input id="js-import-file__form" (change)="fileUp($ev)" type="file">
  <button id="js-import-file__submit" (click)="submitNewFile()" ion-button block disabled="disabled">読み込み</button> -->
  <!--<div class="image-upload">
    <label for="upfile">アイコン画像を選択
      <br>
      <ion-icon name="images" color="primary" style="height:40px;width:40px"></ion-icon>
    </label>
    <input id="upfile" name="upfile" type="file" accept="image/*" (change)="upload(fl.files)">
  </div>-->
  <ion-item class="image-upload">
    <label for="upfile" style="width:100%;height:100%;">
      <ion-row>
        <ion-icon name="images" color="primary" style="height:40px;width:40px"></ion-icon>
        <h4>アイコン画像を選択</h4>
      </ion-row>
    </label>
    <input id="upfile" name="upfile" type="file" accept="image/*" (change)="upload(fl.files)" style="width:100%;height:100%;">
  </ion-item>
  <ion-item (click)="onUpdate()">
    <ion-icon name="refresh" color="primary" style="height:40px;width:40px;"></ion-icon>
    <h4>更新</h4>
  </ion-item>
  <ion-item (click)="onCancel()">
    <ion-icon name="close" color="primary" style="height:40px;width:40px;"></ion-icon>
    <h4>キャンセル</h4>
  </ion-item>
</ion-content>
